@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "luthier-regular";
    font-weight: 700;
    src: url(../public/assets/fonts/new/LuthierFF/Luthier-Regular.ttf);
  }
  @font-face {
    font-family: "luthier-bold";
    font-weight: 700;
    src: url(../public/assets/fonts/LuthierFF/Luthier-Bold.ttf);
  }
  @font-face {
    font-family: "luthier-italic";
    font-weight: 700;
    src: url(../public/assets/fonts/LuthierFF/Luthier-Italic.ttf);
  }
  @font-face {
    font-family: "luthier-bold-italic";
    font-weight: 700;
    src: url(../public/assets/fonts/LuthierFF/Luthier-BoldItalic.ttf);
  }
  @font-face {
    font-family: "prata";
    font-weight: 700;
    src: url(../public/assets/fonts/Prata/Prata-Regular.ttf);
  }
  @font-face {
    font-family: "parisienne";
    font-weight: 700;
    src: url(../public/assets/fonts/Parisienne/Parisienne-Regular.ttf);
  }
  @font-face {
    font-family: "lora";
    font-weight: 700;
    src: url(../public/assets/fonts/Lora/static/Lora-Regular.ttf);
  }
  @font-face {
    font-family: "lora-italic";
    font-weight: 700;
    src: url(../public/assets/fonts/Lora/static/Lora-Italic.ttf);
  }
  @font-face {
    font-family: "lora-bold-italic";
    font-weight: 700;
    src: url(../public/assets/fonts/Lora/static/Lora-BoldItalic.ttf);
  }
  @font-face {
    font-family: "libre";
    font-weight: 700;
    src: url(../public/assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
  }
  @font-face {
    font-family: "libre-italic";
    font-weight: 100;
    src: url(../public/assets/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf);
  }
}

.libre {
  font-family: "libre", sans-serif;
}
.libre-italic {
  font-family: "libre-italic", sans-serif;
}

.luthier-regular {
  font-family: "luthier-regular", sans-serif;
}

.lora {
  font-family: "lora", sans-serif;
}

.lora-italic {
  font-family: "lora-italic", sans-serif;
}

.lora-bold-italic {
  font-family: "lora-bold-italic", sans-serif;
}

.luthier-bold {
  font-family: "luthier-bold", sans-serif;
}

.luthier-italic {
  font-family: "luthier-italic", sans-serif;
}

.luthier-bold-italic {
  font-family: "luthier-bold-italic", sans-serif;
}

.prata {
  font-family: "prata", sans-serif;
}

.parisienne {
  font-family: "parisienne", sans-serif;
}

.two-numbers {
  width: 2ch;
}

.custom-border {
  /* border-bottom: 4px solid rgba(255, 255, 255, 0.8); */
  border-bottom: 4px solid #faf8ebc3;
}

.custom-border-wite {
  /* border-bottom: 4px solid rgba(255, 255, 255, 0.8); */
  border-bottom: 4px solid #fff;
}

.custom-border-orange {
  /*  border-top: 4px solid rgba(255, 255, 255, 0.8); */
  border-bottom: 1px solid #ffbd59;
}

html {
  overflow-x: hidden;
}
