@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "luthier-regular";
    font-weight: 700;
    src: url(../public/assets/fonts/LuthierFF/Luthier-Regular.ttf);
  }
  @font-face {
    font-family: "luthier-bold";
    font-weight: 700;
    src: url(../public/assets/fonts/LuthierFF/Luthier-Bold.ttf);
  }
  @font-face {
    font-family: "luthier-italic";
    font-weight: 700;
    src: url(../public/assets/fonts/LuthierFF/Luthier-Italic.ttf);
  }
  @font-face {
    font-family: "luthier-bold-italic";
    font-weight: 700;
    src: url(../public/assets/fonts/LuthierFF/Luthier-BoldItalic.ttf);
  }
  @font-face {
    font-family: "prata";
    font-weight: 700;
    src: url(../public/assets/fonts/Prata/Prata-Regular.ttf);
  }
  @font-face {
    font-family: "parisienne";
    font-weight: 700;
    src: url(../public/assets/fonts/Parisienne/Parisienne-Regular.ttf);
  }
}

.luthier-regular {
  font-family: "luthier-regular", sans-serif;
}

.luthier-bold {
  font-family: "luthier-bold", sans-serif;
}

.luthier-italic {
  font-family: "luthier-italic", sans-serif;
}

.luthier-bold-italic {
  font-family: "luthier-bold-italic", sans-serif;
}

.prata {
  font-family: "prata", sans-serif;
}

.parisienne {
  font-family: "parisienne", sans-serif;
}

.two-numbers {
  width: 2ch;
}

.custom-border {
  /*  border-top: 4px solid rgba(255, 255, 255, 0.8); */
  border-bottom: 4px solid rgba(255, 255, 255, 0.8);
}
.custom-border-top {
  /*  border-top: 4px solid rgba(255, 255, 255, 0.8); */
  border-top: 4px solid rgba(255, 255, 255, 0.8);
}

.custom-border-orange {
  /*  border-top: 4px solid rgba(255, 255, 255, 0.8); */
  border-bottom: 1px solid #ffbd59;
}

.custom-border-green {
  /*  border-top: 4px solid rgba(255, 255, 255, 0.8); */
  border-bottom: 4px solid #62622a34;
}

html {
  overflow-x: hidden;
}
